<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!----
        <h1>if block</h1>
        {% if a > b %}
        <h1>a is max{{a}}</h1>
        {% else %}
        <h1>b is max {{b}}</h1>
        {% endif %}
        ---->
        <!---
        <h1>elif condition</h1>
        {% if a > b and a > c %}
        <h1>a value is max {{a}}</h1>
        {% elif b > c %}
        <h1>b value is max {{b}}</h1>
        {% else %}
        <h1>c value is max {{c}}</h1>
        {% endif %}
        ----->
        <h1>nested if else statements</h1>
        {% if a > b %}
           {%if a > c %}
           <h1>a value is max {{a}}</h1>
           {% else %}
           <h1>c value is max {{c}}</h1>
           {% endif %}
        {% else %}
           {% if b > c %}
           <h1>b value is max {{b}}</h1>
           {% else %}
           <h1>c value is max {{c}}</h1>
           {% endif %}
        {% endif %}
        
    </center>
</body>
</html>